<html>
  <head>
    <script src="js/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
      const fileReader = new FileReader()

      var positions = [];
      var mousePressed = false;
      function run() {
          $('#screen').mousedown(function (e) {
            mousePressed = true;
            positions.push({x:e.pageX - $(this).offset().left,y:e.pageY - $(this).offset().top});
          });

          $('#screen').mousemove(function (e) {
            if (mousePressed) {
              positions.push({x:e.pageX - $(this).offset().left,y:e.pageY - $(this).offset().top});
            }
          });

           $('#screen').mouseup(function () {
            mousePressed = false;
            positions.push({x:-1,y:-1});

            console.log(positions);

          });
          $('#screen').mouseleave(function () {
            mousePressed = false;
            positions.push({x:-1,y:-1});

            console.log(positions);
          });
        }


      function fetchImage() {
        new Promise((res, rej) => {
          const url = "/screen.png?random=" + new Date().getTime() + "&positions=" + JSON.stringify(positions)
          console.log('positions: ', positions)
          axios.get(url, {responseType: 'blob' })
            .then(function (response) {
              document.images["screen"].src = URL.createObjectURL(response.data)
              res(fetchImage())
            })
            .catch(function (error) { console.log(error) })
        })
      }

       $(document).ready(function () {run();})
      document.addEventListener("DOMContentLoaded", fetchImage)
    </script>
  </head>
  <body>
      <img  width="100%"  draggable="false" id="screen">
  </body>
</html>
